.community-title {
    font-size: 27px;
    font-weight: 100;
}

.community-point {
    height: 24px;
    font-size: 13px;
    color: #242729;
}

.community-subpoint {
    font-size: 13px;
    color: #6a737c;
}