.session-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cred-form-input {
    width: 100%;
    border: 1px solid #bbc0c4;
    box-sizing: border-box;
    padding: 9.1px;
    border-radius: 3px;
}

.cred {
    margin: 2px 0;
    font-weight: 700;
}

.cred-form-container-login {
    width: 283px;
}

.cred-form-container {
    margin: 10% auto 0 auto;
    justify-self: center;
    border-radius: 7px;
    height: 100%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
    border-width: thin;
    border-radius: 4px;
    align-items: center;
}

.cred-form {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1; 
    grid-template-rows: repeat(5, auto);     
    grid-gap: 14px;
    border-radius: 7px;
    padding: 24px 24px 10px 24px;
}

#passwordRequirements {
    font-size: 12px;
    color: #6a737c;
    margin: 4px 0;
}
/* .cred-form {
    display: flex;
    flex-direction: column;
    width: 268px;
    height: 295px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
    border-width: thin;
    border-radius: 4px;
    padding-bottom: 25px;
    align-items: center;
} */

.cred-form-container-signup {
    width: 316px;
}


.cred-form > label > p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
}

.generic-button {
    padding: 10.4px;
    border-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4);
    border: 1px solid transparent;
}

.cred-button {
    background-color: #0095ff;

}

.cred-button:hover {
    background-color: #0077cc;
}

.demo-login-button {
    background-color: #f48024;
}

.demo-login-button:hover {
    background-color: #af6000;
}