body {
  background-color: #eff0f1;
}

main {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0 auto;
}

#root {
  height: 100%;
}
