.splash-banner {
    box-sizing: border-box;
    background-color: #ffcf10;
    padding: 128px 0;
    margin: 0;
    text-align: center;
    background-image: url("/images/banner.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#splash-banner-header {
    color: #242729;
    font-family: 'Roboto Slab Bold',serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 71.5px;
    margin: 0 auto 16px auto;
}

#splash-banner-heart {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
}

#splash-banner-blurb {
    color: #242729;
    max-width: 421.5px;
    text-align: center;
    margin: 0 auto 24px auto;
    font-size: 21px;
    font-family: "Source Sans Pro", sans-serif;
}